<h1>Name: <%= @creditcard.username %></h1>
<p>Credit Limit: <%= @creditcard.limit %></p>
<p>Credit APR (decimal form): <%= @creditcard.apr %></p>

<%= link_to "Make a charge", edit_creditcard_path(@creditcard) %>
<br/>
<%= link_to "Make a payment", edit_creditcard_path(@creditcard) %>
